<div class="footer-copyright">© 2021 Barinb. Все права защищены.</div>
<div class="footer-spacer"></div>
<nav class="footer-links">
  <a href="//facebook.com" mat-icon-button class="footer-link" target="_blank">
    <mat-icon class="footer-icon" aria-label="link to facebook" [svgIcon]="'appFacebook'"></mat-icon>
  </a>
  <a href="//twitter.com" mat-icon-button class="footer-link" target="_blank">
    <mat-icon class="footer-icon" aria-label="link to twitter" [svgIcon]="'appTwitter'"></mat-icon>
  </a>
  <a href="//youtube.com" mat-icon-button class="footer-link" target="_blank">
    <mat-icon class="footer-icon" aria-label="link to youtube" [svgIcon]="'appYoutube'"></mat-icon>
  </a>
  <a href="//telegram.com" mat-icon-button class="footer-link" target="_blank">
    <mat-icon class="footer-icon" aria-label="link to telegram" [svgIcon]="'appTelegram'"></mat-icon>
  </a>
</nav>
